{{ template "base" .}}

{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block room-image">
            </div>
        </div>
        <div class="row">
            <div class="col text-center ">
                <h1 class="mt-3">General's Quarters</h1>
                <p>Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a stay te
                    remember Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a
                    stay te
                    remember Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a
                    stay te
                    remember Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a
                    stay te
                    remember
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a stay te
                    remember
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col text-center">

                <a href="#!" id="check-availability-button" class="btn btn-success">Check Availability</a>

            </div>
        </div>

    </div>
{{end}}



{{ define "js" }}
<script>
let csrf_token = "{{.CSRFToken}}"
let room_id = "1"
document.getElementById("check-availability-button").addEventListener("click", function () {booking(csrf_token, room_id)})
</script>
{{ end }}
